html {
	font-size: 16px;
}

body {
	font-size: 100%;
}

html,
body {
	height: 100%;
}

body {
	background-color: #58D8DD;
	background-image: url("../images/bolt.gif");
	background-size: 96px 96px;
	background-blend-mode: overlay;
	color: #F567D2;
	font-family: "Shantell Sans";
}

header {
	text-align: center;
}

h1 {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 4rem;

	position: relative;
}

h1 .box {
	flex: 0 0 auto;
	padding: 0.5rem;
}

h1 .year {
	font-size: 3em;
}

.blink {
	animation: blinker 1s step-start infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

marquee {
	text-transform: uppercase;
	font-size: 1.5rem;
	max-width: 400px;
}
