html {
	font-size: 16px;
}

body {
	font-size: 100%;
}

body {
	background-color: #58D8DD;
	background-image: url("../images/bolt.gif");
	background-size: 64px 64px;
	background-blend-mode: overlay;
	color: #F567D2;
	font-family: "Shantell Sans";
	padding: 24px;

	text-align: center;
}

@media screen and (max-width: 480px) {
	body {
		background-size: 48px 48px;
	}
}

main {
	color: #F5206E;
	padding: 1rem 0;
}

h1 {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 4rem;

	position: relative;
}

h1 .box {
	flex: 0 0 auto;
	padding: 0.5rem;
}

h1 .year {
	font-size: 2.5em;
}

.blink {
	animation: blinker 1s step-start infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

marquee {
	text-transform: uppercase;
	font-size: 1.5rem;
	max-width: 400px;
}


.covers {
	display: flex;
	align-items: center;
	justify-content: center;
}

.covers h2 {
	font-size: 2rem;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.artists,
.shops {
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: 1.5em;
}

.badges {
	padding: 2rem 0;
}

footer {
	padding: 2rem 0;
}

.headline p {
	font-size: 2rem;
	font-weight: bold;
}

section {
	padding: 2rem 0;
}

footer div+img {
	margin-top: 1rem;
}
