{{ block "footer" .}}
<footer>
	<div>
		A Cafe Chalet event co-hosted with Holodeck Productions. © 1999. All rights reserved.
	</div>

	<img src="images/emailme.gif" />

	<div>
		<a href="mailto:bonjour@cafechaletdvo.com">bonjour@cafechaletdvo.com</a>
		<a href="mailto:holodeckproductions@gmail.com">holodeckproductions@gmail.com</a>
	</div>

	<img src="images/insta.png" height="24" width="24">

	<div>
		<a target="_blank" href="https://www.instagram.com/cafechaletdvo">@cafechaletdvo</a>
		<a target="_blank" href="https://www.instagram.com/holodeckproductions">@holodeckproductions</a>
	</div>

	<img src="images/fb.png" height="24" width="24">

	<div>
		<a target="_blank" href="https://www.facebook.com/cafechaletdvo">@cafechaletdvo</a>
		<a target="_blank" href="https://www.facebook.com/holodeckproductions">@holodeckproductions</a>
	</div>

	<img src="images/tiktok.png" height="24" width="24">

	<div>
		<a target="_blank" href="https://www.tiktok.com/@cafechaletdvo">@cafechaletdvo</a>
		<a target="_blank" href="https://www.tiktok.com/@holodeckproductions">@holodeckproductions</a>
	</div>
</footer>
{{ end }}
