{{ block "index" . }}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>It's the 90s!</title>
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">

	<!-- NormalizeCSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Styles -->
	<link rel="stylesheet" href="css/main.css">

	<!-- HTMX -->
	<script
		src="https://unpkg.com/htmx.org@2.0.1"
		integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
		crossorigin="anonymous"
	></script>

</head>

<body>
	<h1>It's the 90s!</h1>
</body>
</html>
{{ end }}
