{{ block "index" . }}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>It's the 90s!</title>
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">

	<meta property="og:title" content="It's the 90s!"/>
  <meta property="og:image" content="https://90s.cafechaletdvo.com/images/banner.png"/>
  <meta property="og:description" content="A day filled with 90s covers and pop-ups of local merch."/>

	<!-- NormalizeCSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Styles -->
	<link rel="stylesheet" href="css/main.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-517N8178R2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'G-517N8178R2');
	</script>

	<!-- HTMX -->
	<script
		src="https://unpkg.com/htmx.org@2.0.1"
		integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
		crossorigin="anonymous"
	></script>
</head>

<body>
	<header class="headline">
		<h1>
				<span class="box">It's the</span>
				<span class="year blink">90s!</span>
		</h1>

		<marquee behavior="scroll" scrollamount="10">Music • Pop-ups • Food • Drinks • Good Company</marquee>

		<p>August 17, 2024</p>
	</header>

	<main>
		<article>
			<img src="images/yahooweek.gif" />

			<section>
				<header class="covers">
					<img src="images/new.gif" />
					<h2>Pop-ups @ 1pm</h2>
					<img src="images/new.gif" />
				</header>

				<ul class="shops">
					<li>Selene Crystals</li>
					<li>On Days Out</li>
					<li>Orkid</li>
					<li>Kandelitita</li>
					<li>Mala Catalog</li>
					<li>Lataza</li>
					<li>Yanna Chan/Madebykeim</li>
					<li>Amanda DVO</li>
					<li>Flipped Finds</li>
					<li>Louise Mireille</li>
					<li>Coven stead</li>
					<li>Havainas</li>
				</ul>
			</section>

			<div>
				<img src="images/ns_logo.gif" />
				<img src="images/ie_logo.gif" />
			</div>

			<section>
				<header class="covers">
					<img src="images/hot.gif" />
					<h2>90s covers @ 4pm</h2>
					<img src="images/hot.gif" />
				</header>

				<ul class="artists">
					<li>KAEL BHYADOGG</li>
					<li>ZYREL</li>
					<li>KHAIL SOLO</li>
					<li>ORKID, PENIEL, AND SHAN</li>
					<li>CREEK</li>
					<li>CRUNK BUNNY</li>
				</ul>
			</section>
		</article>
	</main>

	<footer>
		<div>
			A Cafe Chalet event co-hosted with Holodeck Productions. © 1999. All rights reserved.
		</div>

		<img src="images/emailme.gif" />

		<div>
			<a href="mailto:bonjour@cafechaletdvo.com">bonjour@cafechaletdvo.com</a>
			<a href="mailto:holodeckproductions@gmail.com">holodeckproductions@gmail.com</a>
		</div>

		<img src="images/insta.png" height="24" width="24">

		<div>
			<a target="_blank" href="https://www.instagram.com/cafechaletdvo">@cafechaletdvo</a>
			<a target="_blank" href="https://www.instagram.com/holodeckproductions">@holodeckproductions</a>
		</div>

		<img src="images/fb.png" height="24" width="24">

		<div>
			<a target="_blank" href="https://www.facebook.com/cafechaletdvo">@cafechaletdvo</a>
			<a target="_blank" href="https://www.facebook.com/holodeckproductions">@holodeckproductions</a>
		</div>

		<img src="images/tiktok.png" height="24" width="24">

		<div>
			<a target="_blank" href="https://www.tiktok.com/@cafechaletdvo">@cafechaletdvo</a>
			<a target="_blank" href="https://www.tiktok.com/@holodeckproductions">@holodeckproductions</a>
		</div>
	</footer>
</body>
</html>
{{ end }}
