{{ block "main" . }}
<main>
	<article>
		<img src="images/yahooweek.gif" />

		<section>
			<header class="covers">
				<img src="images/hot.gif" />
				<h2>90s covers @ 4pm</h2>
				<img src="images/hot.gif" />
			</header>

			<ul class="artists">
				<li>KAEL BHYADOGG</li>
				<li>ZYREL</li>
				<li>KHAIL SOLO</li>
				<li>ORKID, PENIEL, AND SHAN</li>
				<li>CREEK</li>
				<li>CRUNK BUNNY</li>
			</ul>
		</section>

		<div>
			<img src="images/ns_logo.gif" />
			<img src="images/ie_logo.gif" />
		</div>

		<section>
			<header class="covers">
				<img src="images/new.gif" />
				<h2>Pop-ups @ 1pm</h2>
				<img src="images/new.gif" />
			</header>

			<ul class="shops">
				<li>Selene Crystals</li>
				<li>On Days Out</li>
				<li>Orkid</li>
				<li>Kandelitita</li>
				<li>Mala Catalog</li>
				<li>Lataza</li>
				<li>Yanna Chan/Madebykeim</li>
				<li>Amanda DVO</li>
				<li>Flipped Finds</li>
				<li>Louise Mireille</li>
				<li>Covenstead</li>
				<li>Havaianas</li>
				<li>project.soda</li>
				<li>Calmansii</li>
				<li>Kimoy</li>
				<li>Julio</li>
				<li>Troy's Arttifact</li>
				<li>ikigai trd</li>
				<li>stoned project</li>
				<li>Joolz</li>
				<li>Charm Jewelry</li>
				<li>Kangshimnida x Snowbow</li>
			</ul>
		</section>
	</article>
</main>
{{ end }}
